#
###############################################################################

# This section provides the bare minimum system level configuration required to bring up blx. 
# Entire section is optional (Default values are taken for fields that are not specified). 
 blx-system-config 
 {
   # Either set worker-processes or dpdk-config token.
   # number of blx worker processes to be started. Default: 1, Minimum: 1 and Maximum: 20
    worker-processes: 2

   # dpdk EAL core mask parameter. Applicable only when blx-dpdk is installed.
   # dpdk-config: -c 0xff

   # to yield CPU or not. Default: no/disable/0. To yield CPU, set value as yes/enable/1
   # cpu-yield: no

   # ipaddress on which blx-mgmt has to listen to. Default: blx will listen on all ipaddresses. 
   # prefix is optional. If prefix not given, it will be taken as /24.
    ipaddress: {{nsip1}}/24

   # interfaces or sub-interfaces that are to be dedicated for blx. Default: blx will share host traffic with all the interfaces
   # interfaces: sub_interface_name:,type:macvlan,interface_name:
    interfaces: {{ iface }}

   # http and https ports to use for blx mgmt. Default mgmt-http-port:9080 and default mgmt-https-port:9443
   # NOTE: if ip addresses and interfaces are dedicated for blx, then the port definitions will be ignored.
   # the format can be either just the &quot;port&quot; or &quot;ip:port&quot;. Configuring one port only doesn&apos;t open the other port. 
   mgmt-http-port: {{port1}}
   # mgmt-http-port: 7.7.7.100:9080
   mgmt-https-port: {{port2}}
   # mgmt-https-port: 7.7.7.100:9443
 }

# This section provides the static routes to be configured on blx when in dedicated interfaces mode
# If no interfaces are dedicated for blx, then this section will be ignored.
   static-routes 
   {
  	# default route to configure in the dedicated interfaces mode
	default {{gateway.stdout}}
   }

# This section provides nscli commands to configure blx
 cli-cmds
 {
   # add ns ip 1.1.1.100 255.255.255.0
   # add ns ip 1.1.1.101 255.255.255.0
     add HA node {{id}} {{haip1}}
     set HA node -failSafe ON
     {% for item in ips|zip(ports)|list %}
      add service s{{item.1}} {{item.0}} http {{item.1}}
     {% endfor %}
 }

